/* Syling for Recipies html */

h1 {
    font-size: 80px;
    color: red;
    background-color: white;

}

ul {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: small;
    color: aquamarine;
}

