/* Syling for Recipies html */

* {
    text-transform: capitalize;    
    background-color: brown;
}

h1 {
    
    color: orange;
    text-align: center;
    font-size: 100px;

}

ul {
    
    font-size: 40px;
    color: aquamarine;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

li::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
    margin-right: 5px;
    vertical-align: middle;
}
